{% extends "base.html" %}
{% from "_macros.html" import field_error %}
{% block page_content %}
<div class="row content">
    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
        <div class="col-md-12">
            <div class="col-md-6">
                <h3>
                  专利信息 
                </h3>
                <hr />
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.patent_title.label }}</label>
                    <div class="col-sm-9">
                        {{ form.patent_title(class="form-control") }}
                    </div>
                    {{ field_error(form.patent_title) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.category.label }}</label>
                    <div class="col-sm-9">
                        {{ form.category(class="form-control") }}
                    </div>
                    {{ field_error(form.category) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.student_name.label }}</label>
                    <div class="col-sm-9">
                        {{ form.student_name(class="form-control") }}
                    </div>
                    {{ field_error(form.student_name) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.student_class.label }}</label>
                    <div class="col-sm-9">
                        {{ form.student_class(class="form-control") }}
                    </div>
                    {{ field_error(form.student_class) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.precedence.label }}</label>
                    <div class="col-sm-9">
                        {{ form.precedence(class="form-control") }}
                    </div>
                    {{ field_error(form.precedence) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.teacher_name.label }}</label>
                    <div class="col-sm-9">
                        {{ form.teacher_name(class="form-control") }}
                    </div>
                    {{ field_error(form.teacher_name) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.patent_number.label }}</label>
                    <div class="col-sm-9">
                        {{ form.patent_number(class="form-control", type="date") }}
                    </div>
                    {{ field_error(form.patent_number) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.certificate.label }}</label>
                    <div class="col-sm-9">
                        {{ form.certificate(class="form-control") }}
                    </div>
                    {{ field_error(form.certificate) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.public.label }}</label>
                    <div class="col-sm-9">
                        {{ form.public(class="form-control") }}
                    </div>
                    {{ field_error(form.public) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.acachemy.label }}</label>
                    <div class="col-sm-9">
                        {{ form.acachemy(class="form-control") }}
                    </div>
                    {{ field_error(form.acachemy) }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <h3>
                提交信息
                </h3>
                <hr />
                <div class="col-sm-6">
                    {{ form.submit(class="btn btn-primary btn-block") }}
                </div>
                <div class="col-sm-6">
                  <input type="reset" class="btn btn-success btn-block" value="重置"></input>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
