{% extends "auth/_profile.html" %}
{% block right_content %}
        <h3>竞赛部分</h3>
        {% if current_user.role.role_name == '教师' %}
            {% if competition %}
            <table class="table table-bordered table-hover" style="font-size: 14px;">
                <tr class="active">
                    <td>竞赛项目</td>
                    <td>成果名称</td>
                    <td>获奖级别</td>
                    <td>等级</td>
                    <td>获奖时间</td>
                    <td>颁奖单位</td>
                </tr>
                <tr>
                    <td>{{ project.project_name }}</td>
                    <td>{{ competition.achievement_name }}</td>
                    <td>{{ competition.awards_unit }}</td>
                    <td>{{ competition.winning_time }}</td>
                    <td>{{ competition.winning_level }}</td>
                    <td>{{ competition.rate }}</td>
                </tr>
            </table>
            {% else %}
            <pre>暂无参与的项目</pre>
            {% endif %}
        {% endif %}
        
        {% if current_user.role.role_name == '单位管理员' %}
            {% if teachers %}
            <table class="table table-bordered table-hover" style="font-size: 14px;" id="outside">
                {% for teacher in teachers %}
                    <tr class="active">
                        <td>{{  teacher.nick_name }}</td>
                        <td><a class="link" data="{{ teacher.id }}">查看具体信息</a></td>
                    </tr>
                    <tr id="{{ teacher.id  }}"></tr>
                {% endfor %}
            </table>
            {% else %}
            <pre>暂时没有参与的老师</pre>
            {% endif %}
        {% endif %}

    <script>
    function show_competition(e) {
        teacher_id = e.target.getAttribute('data');
        $.ajax({
            url: 'get_competition',
            data: {
                id: teacher_id
            },
            success: function(data) {
                console.log(data);
                document.getElementById(teacher_id).innerHTML = 
                "<td>" + data['competition'][0]['project']['project_name'] + "</td>" + 
                "<td>" + data['competition'][0]['achievement_name'] + "</td>" + 
                "<td>" + data['competition'][0]['winning_level'] + "</td>" + 
                "<td>" + data['competition'][0]['rate'] + "</td>"
                ;
            } 
        })
    }
    var el = document.getElementById("outside");
    el.addEventListener("click", show_competition.bind(this), false)
    </script> 
{% endblock %}
