{% extends "base.html" %}
{% from "_macros.html" import field_error %}
{% block page_content %}
<div class="row content">
    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
        <div class="col-md-12">
            <div class="col-md-6">
                <h3>
                   论文信息
                </h3>
                <hr />
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.paper_title.label }}</label>
                    <div class="col-sm-9">
                        {{ form.paper_title(class="form-control") }}
                    </div>
                    {{ field_error(form.paper_title) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.periodical.label }}</label>
                    <div class="col-sm-9">
                        {{ form.periodical(class="form-control") }}
                    </div>
                    {{ field_error(form.periodical) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.acachemy.label }}</label>
                    <div class="col-sm-9">
                        {{ form.acachemy(class="form-control") }}
                    </div>
                    {{ field_error(form.acachemy) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.grade.label }}</label>
                    <div class="col-sm-9">
                        {{ form.grade(class="form-control") }}
                    </div>
                    {{ field_error(form.grade) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.student_name.label }}</label>
                    <div class="col-sm-9">
                        {{ form.student_name(class="form-control") }}
                    </div>
                    {{ field_error(form.student_name) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.issn.label }}</label>
                    <div class="col-sm-9">
                        {{ form.issn(class="form-control") }}
                    </div>
                    {{ field_error(form.issn) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.public.label }}</label>
                    <div class="col-sm-9">
                        {{ form.public(class="form-control", type="date") }}
                    </div>
                    {{ field_error(form.public) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.level.label }}</label>
                    <div class="col-sm-9">
                        {{ form.level(class="form-control") }}
                    </div>
                    {{ field_error(form.level) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ form.precedence.label }}</label>
                    <div class="col-sm-9">
                        {{ form.precedence(class="form-control") }}
                    </div>
                    {{ field_error(form.precedence) }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <h3>
                提交信息
                </h3>
                <hr />
                <div class="col-sm-6">
                    {{ form.submit(class="btn btn-primary btn-block") }}
                </div>
                <div class="col-sm-6">
                  <input type="reset" class="btn btn-success btn-block" value="重置"></input>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
