{% extends "base.html" %}
{% from "_macros.html" import field_error %}
{% block title %}竞赛{% endblock %}
{% block page_content %}
<div class="row content">
    <form method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="col-md-12">
            <div class="col-md-6">
                <h3>
                    竞赛信息
                </h3>
                <hr />
                <div class="form-group">
                    <label class="col-sm-3 control-label">竞赛项目</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" list="projects" name="project_name"/>
                        <datalist id="projects">
                        </datalist>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">成果名称</label>
                    <div class="col-sm-9">
                        {{ form.achievement_name(class="form-control", placeholder="有必须填写，没有可不填写") }}
                    </div>
                        {{ field_error(form.achievement_name) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">获奖级别</label>
                    <div class="col-sm-9">
                        {{ form.winning_level(class="form-control") }}
                    </div>
                    {{ field_error(form.winning_level) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">等级</label>
                    <div class="col-sm-9">
                        {{ form.rate(class="form-control") }}
                    </div>
                    {{ field_error(form.rate) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">获奖时间</label>
                    <div class="col-sm-9">
                        {{ form.winning_time(class="form-control form_datetime", type="date") }}
                    </div>
                    {{ field_error(form.winning_time) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">颁奖单位</label>
                    <div class="col-sm-9">
                        {{ form.awards_unit(class="form-control") }}
                    </div>
                    {{ field_error(form.awards_unit) }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <h3>
                上传附件
                </h3>
                <hr />
                <div class="form-group">
                  <label class="col-sm-3 control-label">获奖证书</label>
                  <div class="col-sm-9">
                    <input class="form-control" type="file" name="file" required>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>
                确认提交
                </h3>
                <hr />
                <div class="col-sm-6">
                  <input type="submit" class="btn btn-primary btn-block" value="提交"></input>
                </div>
                <div class="col-sm-6">
                  <input type="reset" class="btn btn-success btn-block" value="重置"></input>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block competition_script %}
<script>
function get_project(){
  var opt = "";
  $.ajax({
      url: '/competition/_get_project',
      type: 'post',
      success: function(data) {
        for(var i=0; i<data['info'].length;i++) {
          opt += "<option value=" + data['info'][i]['project_name'] + "/>";
          $("#projects").html(opt);
        }
      }
  })
}
window.onload=get_project;
</script>
{% endblock %}
