{% extends "competition/competition_model.html" %}
{% block title %}竞赛{% endblock %}
{% block page_content %}
<div class="row content">
    <div class="modal-header">
        <h3>竞赛活动</h3>
    </div>
    <div class="col-md-12 competition-info" style="margin-top: 20px;">
        <div class="row col-sm-4">
            <div class="jumbotron" style="padding: 20px;">
                <h4>
                    竞赛信息
                </h4>
                <hr />
                竞赛项目: {{competition.project}}
                <br>
                成果名称: {{competition.achievement_name}}
                <br>
                获奖级别: {{competition.winning_level}}
                <br>
                等级: {{competition.rate}}
                <br>
                获奖时间: {{competition.winning_time}}
                <br>
                获奖单位: {{competition.awards_unit}}
                <br>
                创建时间: {{competition.date_created}}
            </div>
            <div class="certificate">
                <h4>
                    获奖证书
                </h4>
                <img src="{{ url_for('uploaded_file', id=competition.id) }}">
            </div>
        </div>
        <div class="col-sm-7 col-sm-offset-1">
            <h4>
                指导教师
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#teacherModal" data-whatever="@mdo">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
                </button>
            </h4>
            <div class="row">
                {% for teacher in teachers%}
                <div class="col-xs-4">
                    <div class="teacher-info">
                        <p>编号:<b>{{ teacher.user_name }}</b></p>
                        <p>姓名:<b>{{ teacher.nick_name }}</b></p>
                        <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">单位:<b>{{ teacher.unit }}</b></p>
                        <hr style="margin-bottom: 5px;">
                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-remove" data="{{teacher.id}}" aria-hidden="true" onclick="delTeacher()"></span>&nbsp;
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr/>
            <h4>
                参赛学生
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </h4>
            <div class="row">
                {% for student in competition.students%}
                <div class="col-xs-4">
                    <div class="student-info">
                        <p>
                            学号:<b>{{ student.student_id }}</b>
                        </p>
                        <p>
                            姓名:<b>{{ student.student_name }}</b>
                        </p>
                        <p>
                            年级:<b>{{ student.grade }}</b>
                        </p>
                        <p  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            学院:<b>{{ student.unit }}</b>
                        </p>
                        <p  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            专业:<b>{{ student.major.major_name }}</b>
                        </p>
                        <hr style="margin-bottom: 5px;">
                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editModal" data-whatever="@mdo" aria-hidden="true" onclick="editStudent()"
                                      data_id="{{student.student_id}}" data_name="{{student.student_name}}" data_grade="{{student.grade}}"
                                      data_acachemy="{{student.unit.id}}" data_major="{{student.major.id}}"></span>&nbsp;
                            </button>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" data="{{student.student_id}}" onclick="delStudent()"></span>&nbsp;
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block competition_script %}
<script src="{{ url_for('static', filename='js/competition.js') }}"></script>
{% endblock %}
