.footer {
    text-align: center;
}

.competition-info img {
	width: 100%;
	height: auto;
}

.student-info {
	border: 1px dashed #eee;
    padding: 20px 10px 10px;
    margin-top: 15px;
}

.certificate {
	padding-top:  20px;
}

.teacher {
	padding-top: 20px;
}

.teacher-info {
    border: 1px dashed #eee;
    padding: 20px 10px 10px;
    margin-top: 15px;
}