.footer {
    text-align: center;
}

.competition-info img {
	width: 100%;
	height: auto;
}

.student-info {
	height:  250px;
	border: 1px dashed #eee;
    padding: 20px 20px;
    margin-top: 10px;
}

.certificate {
	padding-top:  20px;
}

.teacher {
	padding-top: 20px;
}

.teacher-info {
    height:  200px;
    border: 1px dashed #eee;
    padding: 20px 20px;
    margin-top: 10px;
}