{% extends "base.html" %}
{% from "_macros.html" import field_error %}
{% block title %}
作品
{% endblock %}
{% block page_content %}
<div class="row content">
    <div class="col-md-12">
        <form method="POST" class="form-horizontal" enctype="multipart/form-data">
            <div class="col-md-6">
                <h3>
                    作品信息
                </h3>
                <hr/>
                <div class="form-group">
                    <label class="col-sm-3 control-label">作品名称</label>
                    <div class="col-sm-9">
                        {{ form.pro_title(class="form-control") }}
                    </div>
                    {{ field_error(form.pro_title) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">参与比赛</label>
                    <div class="col-sm-9">
                        {{ form.pro_match(class="form-control") }}
                    </div>
                    {{ field_error(form.pro_match) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">作品类型</label>
                    <div class="col-sm-9">
                        {{ form.pro_type(class="form-control") }}
                    </div>
                    {{ field_error(form.pro_type) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">设计者</label>
                    <div class="col-sm-9">
                        {{ form.pro_actor(class="form-control") }}
                    </div>
                    {{ field_error(form.pro_actor) }}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">设计时间</label>
                    <div class="col-sm-9">
                        {{ form.pro_time(class="form-control", type="date") }}
                    </div>
                    {{ field_error(form.pro_time) }}
                </div>
                <h3>
                提交信息
                </h3>
                <hr />
                <div class="col-sm-6">
                    <input type="submit" class="btn btn-primary btn-block" value="提交" />
                </div>
                <div class="col-sm-6">
                  <input type="reset" class="btn btn-success btn-block" value="重置" />
                </div>
            </div>
        </form>

        <div class="col-md-6">
            <div class="col-md-12">
                <h3>上传作品效果图</h3>
                <form method="post" enctype="multipart/form-data">
                    <input type="file" class="file" name="pro_img" id="pro_img" />
                </form>
            </div>
            <div class="col-md-12">
                <h3>上传附件</h3>
                <form method="post" enctype="multipart/form-data">
                    <input type="file" class="file" name="docus" id="docus" />
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
    {% block production_script %}
    <script>
        $(function() {
            $('#submit').click(function() {
                event.preventDefault();
                var form_data = new FormData($('#uploadform')[0]);
                $.ajax({
                    type: 'POST',
                    url: '/uploadajax',
                    data: form_data,
                    contentType: false,
                    processData: false,
                    success:  function(data){
                        $('#show_pro_image').attr("src", "/uploads/production/"+data);
                    }
                });
            });
        });

        $('#pro_img').fileinput({
            language: 'zh',
            uploadUrl: '/upload_proimg',
            allowedFileExtensions: ['jpg', 'png', 'gif', 'doc'],
            showUpload: true,
            showCaption: false,
            browseClass: "btn btn-info",
        })

        $('#docus').fileinput({
            language: 'zh',
            uploadUrl: '/upload_doc',

            allowedFileExtensions: ['doc', 'xls'],
            showUpload: true,
            showCaption: false,
            browseClass: "btn btn-info",
        })
    </script>

    {% endblock %}
